.slds-modal__container {
   max-width: 100rem !important;
    width: 100% !important;
    position: relative;
    padding-top: 0%;
    vertical-align:top;
    
   
}
.inner-comp {
    width: 20%;
    margin: 20px 0;
    display: inline-block;
    padding-right: 10px;
    padding-left: 3px;
    
}
.lightning-tab-css{
    font-weight: bold;
    font-size: larger;
}

.slds-modal__container_alert {
    height: 35px;
    padding-bottom: 15px;
    display: flex;
}

.slds-modal__container_viewalerts {
    height: 155px;
    padding-bottom: 5px;
    width: 100%;
}
.app {
    background-color: #fafaf9;
    height: 100vh;
    overflow: scroll;
}
.scrollbar
{
    width: 98%;
    margin-left: 15px;
    margin-top: 10px;
    height: 150px;
    /*background: #F5F5F5;*/
    overflow-y: scroll;
}

.force-overflow
{
    min-height: 450px;
    padding: 1em;
}

.style-3::-webkit-scrollbar-track
{
    background-color: #F5F5F5;
}

.style-3::-webkit-scrollbar
{
    width: 3px;
    background-color: hwb(0 97% 2%);
}

.style-3::-webkit-scrollbar-thumb
{
    background-color: hsl(200, 2%, 72%);
    border-radius: 3px;
}